/*==============================
            Colors
==============================*/
/*==============================
            Grid
==============================*/
/*==============================
        Font Families
==============================*/
/*==============================
        Global Font Styles
==============================*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif; }

/*==============================
            Headings
==============================*/
.heading-1, .heading-2, .heading-3, .heading-4 {
  text-transform: uppercase; }

.heading-2 {
  background: #363636;
  color: #fdfcfc;
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  justify-self: center;
  padding: 1rem 3.5rem; }

/*==============================
            Links
==============================*/
/*==============================
            Paragrapgh
==============================*/
.paragraph {
  font-weight: 300;
  line-height: 2.5rem;
  margin: 0 0 1rem 0; }

.header {
  background: #ffc038;
  color: #fdfcfc;
  display: grid;
  grid-template-columns: 2rem [header-start] 1fr [header-end] 2rem; }
  .header > * {
    grid-column: header-start / header-end; }

.about {
  display: grid;
  grid-template-columns: 3rem [about-start] 1fr [about-end] 3rem; }
  .about > * {
    grid-column: about-start / about-end; }
  .about__picture {
    background-color: #f4f4f4;
    margin-top: 4rem;
    padding: 2rem 6rem;
    max-width: 30rem; }
  .about__content {
    display: flex;
    flex-direction: column; }

.logo {
  color: inherit;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem;
  text-transform: uppercase; }
  .logo--unique {
    border: 3px solid #fff200;
    padding: .5rem 1rem; }
  .logo--tech {
    color: #363636; }

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end; }
  .navigation__ph {
    background: #fdfcfc;
    height: 3px;
    position: relative;
    width: 2rem; }
    .navigation__ph::before, .navigation__ph::after {
      background: #fdfcfc;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%; }
    .navigation__ph::before {
      left: 0;
      top: -.75rem; }
    .navigation__ph::after {
      left: 0;
      top: .75rem; }
  .navigation__list {
    display: none;
    list-style: none; }

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  text-transform: uppercase; }
  .btn:link, .btn:visited {
    color: #fdfcfc;
    text-decoration: none; }
  .btn--light {
    background-color: #ffc038;
    padding: 1rem 2rem; }
    .btn--light:link, .btn--light:visited {
      color: #363636; }
  .btn--dark {
    background-color: #363636;
    display: none;
    padding: 1rem;
    text-transform: capitalize; }
