/*==============================
            Colors
==============================*/
/*==============================
            Grid
==============================*/
/*==============================
            Mixins
==============================*/
/*==============================
        Font Families
==============================*/
/*==============================
        Global Font Styles
==============================*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif; }

/*==============================
            Headings
==============================*/
.heading-1, .heading-2, .heading-3, .heading-4 {
  text-transform: uppercase; }

.heading-2 {
  align-self: center;
  background: #363636;
  color: #fdfcfc;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  justify-self: center;
  padding: 1rem 3.5rem;
  text-align: center; }

.heading-4 {
  color: #fdfcfc;
  margin: 1rem 0; }

/*==============================
            Links
==============================*/
/*==============================
            Paragrapgh
==============================*/
.paragraph {
  font-weight: 300;
  line-height: 2.5rem;
  margin: 0 0 1rem 0; }

.header {
  background: #ffc038;
  color: #fdfcfc;
  display: grid;
  grid-template-columns: 2rem [header-start] 1fr [header-end] 2rem; }
  .header > * {
    grid-column: header-start / header-end; }

.about {
  display: grid;
  grid-template-columns: 3rem [about-start] 1fr [about-end] 3rem; }
  .about > * {
    grid-column: about-start / about-end; }
  .about__picture {
    background-color: #f4f4f4;
    padding: 2rem 6rem;
    max-width: 30rem; }
    .about__picture:not(:first-of-type) {
      margin-top: 4rem; }
  .about__content {
    display: flex;
    flex-direction: column; }

.workflow {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aab2bd' fill-opacity='.4 ' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem; }
  .workflow__graphic img {
    width: 100%; }

.features {
  display: grid;
  grid-template-columns: 5rem [features-start] 1fr [features-end] 5rem;
  grid-row-gap: 2rem;
  margin: 3rem 0; }
  .features .heading-2 {
    grid-column: features-start / features-end; }
  .features .feature {
    display: grid;
    grid-template-columns: [icon-start] min-content [icon-end text-start] 1fr [text-end];
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 1.5rem;
    font-weight: 300;
    grid-column: features-start / features-end; }
    .features .feature__icon {
      grid-column: icon-start / icon-end;
      fill: #363636;
      height: 4rem;
      width: 4rem; }
    .features .feature__title {
      align-self: center;
      grid-column: text-start / text-end;
      grid-row: 1 / span 1;
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0; }
    .features .feature__text {
      grid-column: text-start / text-end;
      grid-row: 2 / span 1;
      line-height: 2rem;
      margin: 0; }

.history {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aab2bd' fill-opacity='.4 ' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  display: grid;
  grid-template-columns: [full-start] 3rem [history-start] 1fr [history-end] 3rem [full-end];
  padding: 4rem 0; }
  .history__photo {
    background: #fdfcfc;
    grid-column: full-start / full-end;
    padding: 2rem; }
    .history__photo img {
      width: 100%; }
  .history__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: history-start / history-end; }

.projects {
  background-color: #f4f4f4;
  padding: 2rem 6rem;
  max-width: 30rem; }

.project:not(:last-child) {
  margin-bottom: 5rem; }

.project__image {
  margin-bottom: 1.5rem; }

.project__name {
  color: #363636;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.team {
  background-color: #ffc038;
  display: flex;
  flex-direction: column;
  padding: 5rem 0; }

.member {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .member__avatar {
    background: #f4f4f4;
    border-radius: 50%; }
  .member__photo {
    height: 10rem;
    padding: 2.25rem;
    position: relative;
    width: 10rem; }
  .member__name {
    font-size: 1.8rem;
    font-weight: 500; }

.support {
  display: grid;
  grid-template-columns: 3rem [support-start] 1fr [support-end] 3rem;
  justify-content: center;
  margin: 3rem 0; }
  .support > * {
    grid-column: support-start / support-end; }
  .support__content {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .support__content .btn {
      margin-top: 2rem; }

.hire {
  background: linear-gradient(rgba(255, 192, 56, 0.6), rgba(255, 192, 56, 0.6)), url("../img/hire/hire-1x.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 50rem; }
  .hire__content {
    background: #ffc038;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    font-weight: 500;
    padding: 2rem 0; }
  .hire__tagline {
    color: #fdfcfc;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .hire .btn {
    margin: 0; }

.footer {
  background-color: #363636;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  padding: 3rem 0 1rem; }
  .footer__nav {
    text-align: center; }
  .footer__list {
    list-style: none;
    margin: 1rem 0;
    padding: 0; }
  .footer__link:link, .footer__link:visited {
    color: #aab2bd;
    text-decoration: none; }

.social-media {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  width: 70%; }
  .social-media__icon {
    background-color: #ffc038;
    fill: #fdfcfc;
    height: 2.5rem;
    padding: 1rem;
    width: 2.5rem; }

.copyright {
  color: #aab2bd;
  width: 90%; }
  .copyright__link:link, .copyright__link:visited {
    color: #fdfcfc;
    text-decoration: none; }

.logo {
  color: inherit;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem;
  text-transform: uppercase; }
  .logo--unique {
    border: 3px solid #fff200;
    padding: .5rem 1rem; }
  .logo--tech {
    color: #363636; }

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end; }
  .navigation__ph {
    background: #fdfcfc;
    height: 3px;
    position: relative;
    width: 2rem; }
    .navigation__ph::before, .navigation__ph::after {
      background: #fdfcfc;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%; }
    .navigation__ph::before {
      left: 0;
      top: -.75rem; }
    .navigation__ph::after {
      left: 0;
      top: .75rem; }
  .navigation__list {
    display: none;
    list-style: none; }

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-transform: uppercase; }
  .btn:link, .btn:visited {
    color: #fdfcfc;
    text-decoration: none; }
  .btn--light {
    background-color: #ffc038; }
    .btn--light:link, .btn--light:visited {
      color: #363636; }
  .btn--dark {
    background-color: #363636;
    display: none;
    padding: 1rem;
    text-transform: capitalize; }
  .btn--white {
    background-color: #fdfcfc; }
