/*==============================
            Breakpoints
==============================*/
//Default styles are set for iPhone X (375px/23.44em)
$bp-mobile-sm: 21.875em;
$bp-mobile-lrg: 28.125em;
$bp-tablet-sm: 37.5em;
$bp-tablet-med: 48em;
$bp-tablet-lrg: 56.25em;
$bp-desktop-sm: 64em;


/*==============================
            Colors
==============================*/
$color-primary: #ffc038;
$color-primary-light: #fff200;
$color-secondary: #f26c4f;


$color-gray-light-1: #f9f8f8;
$color-gray-light-2: #f4f4f4;
$color-gray-1: #aab2bd;
$color-gray-2: a5a5a5;
$color-gray-dark: #363636;

$color-white: #fdfcfc;

/*==============================
            Grid
==============================*/


img { 
    width: 100%;
}


