/*==============================
            Colors
==============================*/
$color-primary: #ffc038;
$color-primary-light: #fff200;
$color-secondary: #f26c4f;


$color-gray-light-1: #f9f8f8;
$color-gray-light-2: #f4f4f4;
$color-gray-1: #aab2bd;
$color-gray-2: a5a5a5;
$color-gray-dark: #363636;

$color-white: #fdfcfc;

/*==============================
            Grid
==============================*/

.main {

}

/*==============================
            Mixins
==============================*/

@mixin overlay {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aab2bd' fill-opacity='.4 ' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin vector-sizing {
    padding: 2rem 6rem;
    max-width: 30rem;
}
