.about {
    display: grid;
        grid-template-columns: 3rem [about-start] 1fr [about-end] 3rem;
        justify-items: center;
   @extend .section-padding;

    & > * {
    //Selects all direct children of parent .about div
        grid-column: about-start / about-end;
    }

    &__picture {
        background-color: $color-gray-light-2;
        margin-top: 2rem;
        width: 100%;
        @include vector-sizing;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &__content {
        display: flex;
            align-items: center;
            flex-direction: column;
        max-width: 50rem;
    }
}
