.features {
    display: grid;
        grid-template-columns: [features-start] 1fr [features-end];
        grid-row-gap: 5rem;
    padding: 4rem 3rem;

        @media only screen and (min-width: $bp-tablet-sm) {
                grid-column-gap: 3rem;
                grid-template-columns: [features-start] repeat(auto-fit, [col-start] minmax(25rem, 1fr) [col-end]) [features-end];
            }

            @media only screen and (min-width: $bp-tablet-lrg) {
                grid-column-gap: 3rem;
                grid-template-columns: [features-start] repeat(auto-fit, [col-start] minmax(30rem, 1fr) [col-end]) [features-end];
            }

    .heading-2 {
        grid-column: features-start / features-end;
    }

    .feature {
        display: grid;
            grid-template-columns: [icon-start] min-content [icon-end text-start] 1fr [text-end];
            grid-template-rows: repeat(2, min-content);
            grid-column-gap: 1.5rem;
        font-weight: 300;
        

        &__icon {
            grid-column: icon-start / icon-end;
            fill: $color-gray-dark;
            height: 2.5rem;
            width: 2.5rem;
        }

        &__title {
            align-self: center;
            grid-column: text-start / text-end;
            grid-row: 1 / span 1;
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0;
        }

        &__text {
            grid-column: text-start / text-end;
            grid-row: 2 / span 1;
            line-height: 2rem;
            margin: 0;
        }
    }

}
