.footer {
    background-color: $color-gray-dark;
    @extend .section-padding;
    
    &__nav-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
        max-width: 80rem;

        @media screen and (min-width: $bp-tablet-med) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__nav {
        text-align: center;
    }

    &__list {
        list-style: none;
        margin: 1rem 0;
        padding: 0;
    }

    &__item {
        margin-bottom: .5rem;
    }

    &__link:link,
    &__link:visited {
        color: $color-gray-1;
        text-decoration: none;
    }
}

.social-media {
    display: flex;
        justify-content: space-between;
    grid-column: 1 / -1;
    margin: 1.5rem auto;
    width: 28rem;

    &__icon {
        background-color: $color-primary;
        fill: $color-white;
        height: 4.5rem;
        padding: 1rem;
        width: 4.5rem;
    }
}

.copyright {
    color: $color-gray-1;
    grid-column: 1 / -1;
    margin: 0 auto;
    text-align: center;
    width: 90%;

    &__link:link,
    &__link:visited {
        color: $color-white;
        text-decoration: none;
    }
}
