.header {
    background-color: $color-primary;
    color: $color-white;

    display: grid;
        grid-row-gap: 2rem;
        grid-template-columns: 3rem [header-start content-start] 2fr [content-end background-start] 3fr [background-end header-end] 3rem;
        padding: 1rem 0 3rem;

    &__content {
        grid-column: header-start / header-end;

        @media only screen and (min-width: 48em) {
            grid-column: content-start / content-end;
        }
    }

    &__composition {
        display: none;
        position: relative;

        & > * {
            position: absolute;
        }

        &--laptop {
            left: 50%;
            max-width: 54rem;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &--phone {
            left: 50%;
            max-width: 11rem;
            top: 50%;
            transform: translate(120%, -31%);
            width: 20%;
        }

        @media only screen and (min-width: $bp-tablet-med) {
            display: block;
        }
    }
}

.navigation {
    grid-column: header-start / header-end;
}