.history {
    @include overlay;
    display: grid;
        grid-template-columns: [full-start] 3rem [history-start] 1fr [history-end] 3rem [full-end];
        @extend .section-padding;

    &__photo {
        background: $color-white;
        grid-column: full-start / full-end;
        padding: 2rem;

        img {
            width: 100%;
        }
    }

    &__content{
        display: flex;
            align-items: center;
            flex-direction: column;
        grid-column: history-start / history-end;
    }
}
