.history {
    @include overlay;
    display: flex;
        flex-direction: column;
    padding: 4rem 2rem;

    @media only screen and (min-width: $bp-tablet-med) {
        flex-direction: row;
    }

    @media only screen and (min-width: $bp-desktop-sm) {
        padding: 4rem 5rem;
    }

    @media only screen and (min-width: $bp-desktop-med) {
        padding: 4rem 10rem;
    }

    &__photo {
        flex: 0 0 50%;

        @media only screen and (min-width: $bp-tablet-med) {
            margin-left: 2rem;
        }

        img {
            background: $color-white;
            padding: 2rem;
            width: 100%;
        }
    }

    .heading-2 {
        @media only screen and (min-width: $bp-tablet-med) {
            align-self: start;
        }
    }

    &__content{
        display: flex;
            align-items: center;
            flex-direction: column;
        padding: 0 2rem;
    }
}
