.projects {
    background-color: $color-gray-light-2;
    display: grid;
        grid-template-columns: 3rem [projects-start] 1fr [projects-end] 3rem;
        justify-items: center;
    @extend .section-padding;

    & > * {
        grid-column: projects-start / projects-end;
    }
}

.project {
    display: flex;
        align-items: center;
        flex-direction: column;
    width: 100%;

    &__image {
        margin-bottom: 2.5rem;
        @include vector-sizing;
    }

    &__name {
        color: $color-gray-dark;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
}
