.support {
    display: grid;
        grid-template-columns: 3rem [support-start] 1fr [support-end] 3rem;
        justify-content: center;
    @extend .section-padding;


    & > * {
        grid-column: support-start / support-end;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .btn {
            margin-top: 2rem;
        }
    }
}
