.team {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__avatar {
        background: $color-gray-light-2;
        border-radius: 50%;
    }

    &__photo {
        height: 10rem;
        padding: 2.25rem;
        position: relative;
        width: 10rem;
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 500;
    }
}
