.workflow {
    @include overlay;
    display: flex;
        flex-direction: column;
        justify-content: center;
    @extend .section-padding;


    &__graphic {


        img {
            width: 100%;
        }
    }
}
