.btn {
    box-shadow: $default-shadow;
    cursor: pointer;
    display: flex;
        align-items: center;
        flex-shrink: 0;
    font-family: $font-display-2;
    font-weight: 400;
    margin: 2rem auto;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: fit-content;

    &:link,
    &:visited {
        color: $color-white;
        text-decoration: none;
    }

    &--light {
        background-color: $color-primary;

        &:link,
        &:visited {
            color: $color-gray-dark;
        }
    }

    &--dark {
        background-color: $color-gray-dark;
        display: none;
        padding: 1rem 2rem;
        text-transform: capitalize;

        @media only screen and (min-width: $bp-tablet-sm) {
            display: flex;
            margin: 2rem 0;
            //width: fit-content;
        }
    }

    &__icon {
    //Styles for airplane icon inside .btn
        fill: $color-white;
        height: 2rem;
        margin-left: 1rem;
        width: 2rem;
    }

    &--white {
        background-color: $color-white;
    }
}
