.btn {
    display: inline-block;
    font-family: $font-display-2;
    font-weight: 400;
    margin: 2rem auto;
    padding: 1rem 2rem;
    text-transform: uppercase;

    &:link,
    &:visited {
        color: $color-white;
        text-decoration: none;
    }

    &--light {
        background-color: $color-primary;

        &:link,
        &:visited {
            color: $color-gray-dark;
        }
    }

    &--dark {
        background-color: $color-gray-dark;
        display: none;
        padding: 1rem;
        text-transform: capitalize;
    }

    &--white {
        background-color: $color-white;
    }
}
